body {
	padding-top: 70px;
}

a, a:hover {
    color: inherit;
}

.material-icons {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: bottom;
}

.page-link .material-icons {
	font-size: inherit;
}

span.time-left {
	padding-right: 5px;
}

/* Browser page */

.browser .auction-item {
	padding-bottom: 25px;
}

.browser .auction-item .card {
	height: 550px;
}

.browser .auction-item .card-text {
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 0.8rem;
}

.browser .auction-item .card-img-top {
	object-fit: cover;
	height: 60%;
}

/* Login page */
form.basic-form hr {
	margin-top: -0.7rem
}

.login .card {
	margin: 50px;
}


/* Product page */
.product .img-container {
	display: flex;
	align-items: center;
}

.product img {
	max-height: 100%;
	max-width: 100%;
}

.product .description {
	margin-top: 35px;
	margin-bottom: 35px;
}

.product table {
	margin-top: -1px;
}

.product .tab-pane {
	margin-bottom: 100px;
}

.product-info h2 {
	font-weight: 600;
	font-size: 2em;
}

.product-info h3 {
	color: #acacac;
	font-size: 1em;
	margin-bottom: 2em;
}

.product-info .countdown {
	margin-top: 1em;
	margin-bottom: 1em;
}

.product-info {
	padding: 25px;
}


.bid-container h2 {
	font-size: 1.5em;
}

.bid {
	margin-top: 1em;
	margin-bottom: 1em;
	align-items: baseline
}

.bid .time {
	font-size: 0.85em;
	color: #acacac;
}

.bid .amount {
	font-size: 1.2em;
}

.bid .amount.highest {
	font-size: 1.5em;
	font-weight: 600;
}

.seller-container {
	padding: 25px;
}

.seller-info .seller {
	font-size: 1.5em;
	font-weight: 600;
}

.seller-info .contact-info {
	margin-top: 1em;
	margin-bottom: 1em;
}

.seller-info .rating .material-icons {
	font-size: 24pt;
}

/* Auctions page */
.auctions {
	--auction-item-height: 170px;
}

.auctions .auction-item {
	max-height: var(--auction-item-height);
	padding: 8px;
	font-size: 0.8rem;
}

.auctions .auction-info {
	display: flex;
	align-items: center;
	/*height: calc(var(--auction-item-height) / 3);*/
}

.auctions h5 {
	font-size: 1.4rem;
	font-weight: 600;
}