<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:body>
    <ui:composition template="common.xhtml">
        <ui:define name="header">
            <script>
                function getTimeRemaining(endtime){
                  var t = endtime - new Date().getTime();
                  var seconds = Math.floor( (t/1000) % 60 );
                  var minutes = Math.floor( (t/1000/60) % 60 );
                  var hours = Math.floor( (t/(1000*60*60)) % 24 );
                  var days = Math.floor( t/(1000*60*60*24) );
                  return {
                    'total': t,
                    'days': days,
                    'hours': hours,
                    'minutes': minutes,
                    'seconds': seconds
                  };
                }

                function appendZero(n) {
                  if (n &lt; 10) {
                    return "0".concat(n.toString())
                  }
                  return n.toString()
                }

                function updateCountdowns() {
                  var countdowns = document.getElementsByClassName("time-left");
                  for (var i = 0; i &lt; countdowns.length; i++) {
                    var countdown = countdowns[i];
                    var endtime = countdown.getAttribute("data-time");
                    var timeleft = getTimeRemaining(endtime);
                    if (timeleft.days >= 2) {
                        countdown.innerHTML = timeleft.days.toString().concat(" days");
                    } else if (timeleft.total > 0) {
                        timestring = appendZero(timeleft.hours + 24 * timeleft.days).concat(":");
                        timestring = timestring.concat(appendZero(timeleft.minutes).concat(":"));
                        timestring = timestring.concat(appendZero(timeleft.seconds));
                        countdown.innerHTML = timestring;
                    } else {
                        countdown.innerHTML = "ended"
                    }
                  }
                }

                updateCountdowns()
                setInterval(updateCountdowns, 1000)
            </script>
        </ui:define>
        <ui:define name="content">
            <div class="container browser">
                <div class="row">
                    <ui:repeat value="#{auctionController.getDisplayAuctions()}" var="a">
                        <div class="auction-item col-lg-4 col-md-6 col-sm-12">
                            <div class="card">
                                    <img class="card-img-top" src="#{a.product.imageURL}"/>
                                <div class="card-body d-flex flex-column">
                                    <div class="row">
                                        <h:link styleClass="col col-sm-7" outcome="product">
                                            <f:param name="id" value="#{a.id}"/>
                                            <h5 class="card-title">
                                                <h:outputText value="#{a.product.name}"/>
                                            </h5>
                                        </h:link>
                                        <div class="col col-sm-5 text-right font-italic">
                                            <h:outputText
                                                    value="#{auctionController.formatPrice(a.getHighestBid().amount)}"/>
                                        </div>
                                    </div>
                                    <p class="card-text">
                                        <h:outputText
                                                value="#{auctionController.truncateDescription(a.product.description)}"/>
                                    </p>
                                    <div class="row mt-auto">
                                        <div class="col col-sm-7 text-muted">
                                            <h:outputText value="#{a.product.category}"/>
                                        </div>
                                        <div class="col col-sm-5 text-right"><span
                                                class="time-left" data-time="#{a.endTime}">??</span><i
                                                class="material-icons">schedule</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ui:repeat>
                </div>

                <!-- Browser pagination -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <c:choose>
                            <c:when test="#{auctionController.getCurrentPage() eq 1}">
                                <li class="page-item disabled">
                                    <a class="page-link" href="?p=1" aria-label="First">
                                <span aria-hidden="true"><i
                                        class="material-icons">first_page</i></span>
                                        <span class="sr-only">First</span>
                                    </a>
                                </li>
                                <li class="page-item disabled">
                                    <a class="page-link"
                                       href="?p=#{auctionController.getCurrentPage()-1}"
                                       aria-label="Previous">
                            <span aria-hidden="true"><i
                                    class="material-icons">chevron_left</i></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                            </c:when>
                            <c:otherwise>
                                <li class="page-item">
                                    <a class="page-link" href="?p=1" aria-label="First">
                                <span aria-hidden="true"><i
                                        class="material-icons">first_page</i></span>
                                        <span class="sr-only">First</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link"
                                       href="?p=#{auctionController.getCurrentPage()-1}"
                                       aria-label="Previous">
                            <span aria-hidden="true"><i
                                    class="material-icons">chevron_left</i></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                            </c:otherwise>
                        </c:choose>

                        <c:if test="#{auctionController.getCurrentPage()-5 gt 0}">
                            <li class="page-item d-none d-lg-block"><a class="page-link"
                                                                       href="?p=#{auctionController.getCurrentPage()-5}">
                                <h:outputText value="#{auctionController.getCurrentPage()-5}"/>
                            </a>
                            </li>
                        </c:if>
                        <c:if test="#{auctionController.getCurrentPage()-4 gt 0}">
                            <li class="page-item d-none d-md-block"><a class="page-link"
                                                                       href="?p=#{auctionController.getCurrentPage()-4}">
                                <h:outputText value="#{auctionController.getCurrentPage()-4}"/>
                            </a>
                            </li>
                        </c:if>
                        <c:if test="#{auctionController.getCurrentPage()-3 gt 0}">
                            <li class="page-item d-none d-sm-block"><a class="page-link"
                                                                       href="?p=#{auctionController.getCurrentPage()-3}">
                                <h:outputText value="#{auctionController.getCurrentPage()-3}"/>
                            </a>
                            </li>
                        </c:if>
                        <c:if test="#{auctionController.getCurrentPage()-2 gt 0}">
                            <li class="page-item"><a class="page-link"
                                                     href="?p=#{auctionController.getCurrentPage()-2}">
                                <h:outputText value="#{auctionController.getCurrentPage()-2}"/>
                            </a></li>
                        </c:if>
                        <c:if test="#{auctionController.getCurrentPage()-1 gt 0}">
                            <li class="page-item"><a class="page-link"
                                                     href="?p=#{auctionController.getCurrentPage()-1}">
                                <h:outputText value="#{auctionController.getCurrentPage()-1}"/>
                            </a></li>
                        </c:if>
                        <li class="page-item active"><a class="page-link"
                                                        href="?p=#{auctionController.getCurrentPage()}">
                            <h:outputText value="#{auctionController.getCurrentPage()}"/>
                        </a></li>
                        <c:if test="#{auctionController.getCurrentPage() lt auctionController.getLastPage()}">
                            <li class="page-item"><a class="page-link"
                                                     href="?p=#{auctionController.getCurrentPage()+1}">
                                <h:outputText value="#{auctionController.getCurrentPage()+1}"/>
                            </a></li>
                        </c:if>
                        <c:if test="#{auctionController.getCurrentPage()+1 lt auctionController.getLastPage()}">
                            <li class="page-item"><a class="page-link"
                                                     href="?p=#{auctionController.getCurrentPage()+2}">
                                <h:outputText value="#{auctionController.getCurrentPage()+2}"/>
                            </a></li>
                        </c:if>
                        <c:if test="#{auctionController.getCurrentPage()+2 lt auctionController.getLastPage()}">
                            <li class="page-item d-none d-sm-block"><a class="page-link"
                                                                       href="?p=#{auctionController.getCurrentPage()+3}">
                                <h:outputText value="#{auctionController.getCurrentPage()+3}"/>
                            </a>
                            </li>
                        </c:if>
                        <c:if test="#{auctionController.getCurrentPage()+3 lt auctionController.getLastPage()}">
                            <li class="page-item d-none d-md-block"><a class="page-link"
                                                                       href="?p=#{auctionController.getCurrentPage()+4}">
                                <h:outputText value="#{auctionController.getCurrentPage()+4}"/>
                            </a>
                            </li>
                        </c:if>
                        <c:if test="#{auctionController.getCurrentPage()+4 lt auctionController.getLastPage()}">
                            <li class="page-item d-none d-lg-block"><a class="page-link"
                                                                       href="?p=#{auctionController.getCurrentPage()+5}">
                                <h:outputText value="#{auctionController.getCurrentPage()+5}"/>
                            </a>
                            </li>
                        </c:if>
                        <c:choose>

                            <c:when test="#{auctionController.getCurrentPage() eq auctionController.getLastPage()}">
                                <li class="page-item disabled">
                                    <a class="page-link"
                                       href="?p=#{auctionController.getCurrentPage()+1}"
                                       aria-label="Next">
                            <span aria-hidden="true"><i
                                    class="material-icons">chevron_right</i></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                                <li class="page-item disabled">
                                    <a class="page-link"
                                       href="?p=#{auctionController.getLastPage()}"
                                       aria-label="Lest">
                                <span aria-hidden="true"><i
                                        class="material-icons">last_page</i></span>
                                        <span class="sr-only">Last</span>
                                    </a>
                                </li>
                            </c:when>
                            <c:otherwise>
                                <li class="page-item">
                                    <a class="page-link"
                                       href="?p=#{auctionController.getCurrentPage()+1}"
                                       aria-label="Next">
                            <span aria-hidden="true"><i
                                    class="material-icons">chevron_right</i></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link"
                                       href="?p=#{auctionController.getLastPage()}"
                                       aria-label="Lest">
                                <span aria-hidden="true"><i
                                        class="material-icons">last_page</i></span>
                                        <span class="sr-only">Last</span>
                                    </a>
                                </li>
                            </c:otherwise>
                        </c:choose>
                    </ul>
                </nav>
            </div>
        </ui:define>
    </ui:composition>
</h:body>
</html>
