<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap + dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- External icons and fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

    <!-- Custom styles and scripts -->
    <link rel="stylesheet" href="css/basic-style.css"/>

    <title>Dat250 - Auction application</title>

    <ui:insert name="header"/>
</head>
<body>
<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <!-- Brand navbar items -->
        <a class="navbar-brand" href="auctions.xhtml">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Left navbar items -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav mr-auto nav-right">
                <a class="nav-item active nav-link" href="auctions.xhtml">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Your bids <span class="badge badge-pill badge-info">3</span></a>
                <a class="nav-item nav-link" href="#">Your auctions <span class="badge badge-pill badge-info">1</span></a>
                <a class="nav-item nav-link" href="publish.xhtml">Create new auction </a>
            </div>
        </div>
        <!-- Right navbar items -->
        <div class="collapse navbar-collapse" id="navbarActions">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="login.xhtml">Profile</a>
                <a class="nav-item nav-link" href="login.xhtml">Log out</a>
            </div>
        </div>
    </div>
</nav>

<!-- Page content -->
<ui:insert name="content"/>
</body>
</html>
