<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
<h:body>
    <ui:composition template="common.xhtml">
    	<ui:define name="header">>
    		<link rel="stylesheet" href="../css/basic-style.css"/>
    	</ui:define>
        <ui:define name="content"> 
			
		<div class="container login">
			<div class="row justify-content-md-center">
				<div class="card">
					<nav>
						<div class="nav nav-tabs" id="nav-tab" role="tablist">
							<a class="nav-item nav-link active" id="nav-login-tab" data-toggle="tab" href="#nav-login" role="tab" aria-controls="nav-login" aria-selected="true">Login</a>
							<a class="nav-item nav-link" id="nav-register-tab" data-toggle="tab" href="#nav-register" role="tab" aria-controls="nav-register" aria-selected="false">Register</a>
						</div>
					</nav>
					<div class="tab-content" id="nav-tabContent">
	
						<!-- Login form -->
						<div class="tab-pane fade show active" id="nav-login" role="tabpanel" aria-labelledby="nav-login-tab">
							<div class="card-body">
								<h:form styleClass="basic-form">
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon1"><i class="material-icons">email</i></span>
										</div>
										<h:inputText id="email" styleClass="form-control" a:placeholder="Email" aria-label="Email" aria-describedby="basic-addon1" 
										value="#{loginView.email}" required="true" a:required="true"></h:inputText>
									</div>
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon1"><i class="material-icons">vpn_key</i></span>
										</div>
										<h:inputSecret id="password" styleClass="form-control" a:placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" 
										value="#{loginView.password}" required="true" a:required="true"></h:inputSecret>
									</div> 
									<!-- "Remember me" button, not implemented yet --> <!--
									<div class="form-group form-check">
										<input type="checkbox" class="form-check-input" id="stay-logged-in">
										<label class="form-check-label" for="stay-logged-in">Remember me</label>
									</div> -->
									<h:commandButton action="#{loginView.login}" value="Login" styleClass="btn btn-primary"></h:commandButton>
								</h:form>
							</div>
						</div>
	
						<!-- Registration form -->
						<div class="tab-pane fade show" id="nav-register" role="tabpanel" aria-labelledby="nav-register-tab-tab">
							<div class="card-body">
								<h:form styleClass="basic-form">
									<!-- Personal info -->
									<div class="card-title">Personal info</div>
									<hr />
									<div class="form-group">
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1"><i class="material-icons">person</i></span>
											</div>
											<h:inputText id="name" styleClass="form-control" a:placeholder="Full name" a:aria-label="Full name" a:aria-describedby="basic-addon1" 
											value="#{registerView.name}" required="true" a:required="true" maxlength="30"></h:inputText>
										</div>
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1"><i class="material-icons">email</i></span>
											</div>
											<h:inputText id="email" styleClass="form-control" a:placeholder="Email" a:aria-label="Email" a:aria-describedby="basic-addon1" 
											value="#{registerView.email}" required="true" a:required="true">
											<!--  <f:validator validatorId="emailValidator" /> -->
											</h:inputText>
										</div>
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1"><i class="material-icons">phone</i></span>
											</div>
											<h:inputText id="phoneNumber" styleClass="form-control" a:placeholder="Phone number" a:aria-label="Phone number" a:aria-describedby="basic-addon1"
											value="#{registerView.phoneNumber}" required="true" a:required="true" maxlength="30"></h:inputText>
										</div>
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1"><i class="material-icons">lock</i></span>
											</div>
											<h:inputSecret id="password" styleClass="form-control" a:placeholder="Password" a:aria-label="Password" a:aria-describedby="basic-addon1" 
											value="#{registerView.password}" required="true" a:required="true">
									<!--	validatorMessage="Password must contain atleast one lowercase character, uppercase character, a digit and 
											it's length must be between 6 and 20 characters">
											<f:validateRegex pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20})" /> -->
											</h:inputSecret>
										</div>
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1"><i class="material-icons">lock</i></span>
											</div>
											<h:inputSecret id="confirmPassword" styleClass="form-control" a:placeholder="Repeat password" a:aria-label="Repeat password" a:aria-describedby="basic-addon1" 
											value="#{registerView.confirmPassword}" required="true" a:required="true"></h:inputSecret>
										</div>
									</div>
									
									<!--Addresses-->
									<div class="card-title">Addresses</div>
									<hr />
									<div class="form-group">
										<div class="card-title">Home</div>
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1"><i class="material-icons">place</i></span>
											</div>
											<h:inputText id="streetAdr" styleClass="form-control" a:placeholder="Address" a:aria-label="Address" a:aria-describedby="basic-addon1" 
											value="#{registerView.streetAdr}" required="true" a:required="true" maxlength="30"></h:inputText>
										</div>
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1"><i class="material-icons">place</i></span>
											</div>
											<h:inputText id="zipCode" styleClass="form-control" a:placeholder="Zip Code" a:aria-label="Zip Code" a:aria-describedby="basic-addon1" 
											value="#{registerView.zipCode}" required="true" a:required="true" maxlength="30"></h:inputText>
										</div>
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1"><i class="material-icons">location_city</i></span>
											</div>
											<h:inputText id="city" styleClass="form-control" a:placeholder="City" a:aria-label="City" a:aria-describedby="basic-addon1" 
											value="#{registerView.city}" required="true" a:required="true" maxlength="30"></h:inputText>
										</div>
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1"><i class="material-icons">public</i></span>
											</div>
											
											<!-- Choose from list of countries --> <!-- 
											<h:selectOneMenu value="#{registerView.country}">
													<f:selectItems value="#{registerView.getCountries()}" var="c" itemValue="#{c.code}" itemLabel="#{c.name}" />
											</h:selectOneMenu>  -->
											
											<!-- Manual country list -->
											<!-- <select class="form-control">
												<option value="no">Norway</option>
												<option value="se">Sweden</option>
											</select> -->
											
											<!-- Input country codes by hand -->
											<h:inputText id="country" styleClass="form-control" a:placeholder="Country Code" a:aria-label="Country Code" a:aria-describedby="basic-addon1"  
											value="#{registerView.country}" required="true" a:required="true" maxlength="30"></h:inputText>
										</div>
									</div>
	
									<!-- Payment information --> 
									<div class="card-title">Payment information</div>
									<hr />
									<div class="form-group">
										<div class="card-title">Debit card</div>
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1"><i class="material-icons">credit_card</i></span>
											</div>
											<h:inputText id="ccNumbers" styleClass="form-control" a:placeholder="Credit Card Numbers" a:aria-label="Credit Card Numbers" a:aria-describedby="basic-addon1" 
											value="#{registerView.ccNumbers}" required="true" a:required="true" maxlength="30"></h:inputText>
										</div>
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1"><i class="material-icons">event</i></span>
											</div>
											<h:inputText a:type="date" id="expTime" styleClass="form-control" a:placeholder="Expiration date" a:aria-label="Expiration date" a:aria-describedby="basic-addon1" 
											value="#{registerView.expTime}" required="true" a:required="true" maxlength="30"></h:inputText>
										</div>
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1"><i class="material-icons">credit_card</i></span>
											</div>
											<h:inputText id="cvc" styleClass="form-control" a:placeholder="CVC" a:aria-label="CVC" a:aria-describedby="basic-addon1" 
											value="#{registerView.cvc}" required="true" a:required="true" maxlength="30"></h:inputText>
										</div>
									</div>
									
									<!-- Stay logged in, not implemented yet --> <!-- 
									<div class="form-group form-check">
										<input type="checkbox" class="form-check-input" id="stay-logged-in">
										<label class="form-check-label" for="stay-logged-in">Remember me</label>
									</div>  -->
									<h:commandButton action="#{registerView.register}" value="Register" styleClass="btn btn-primary"></h:commandButton>
								</h:form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>		
        </ui:define>
    </ui:composition>
</h:body>
</html>
