<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core" 
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<title>Login Failed</title>
</h:head>
<h:body>
	<h3>Login Failed.</h3>
	<br />
	<br />
	<h:link value="Create new account" outcome="login" />
	<br />
	<h:link value="Try logging in again" outcome="login" />
</h:body>
</html>