<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
<h:body>
    <ui:composition template="common.xhtml">
        <ui:define name="header">
            <script>
                function getTimeRemaining(endtime){
                  var t = endtime - new Date().getTime();
                  var seconds = Math.floor( (t/1000) % 60 );
                  var minutes = Math.floor( (t/1000/60) % 60 );
                  var hours = Math.floor( (t/(1000*60*60)) % 24 );
                  var days = Math.floor( t/(1000*60*60*24) );
                  return {
                    'total': t,
                    'days': days,
                    'hours': hours,
                    'minutes': minutes,
                    'seconds': seconds
                  };
                }

                function appendZero(n) {
                  if (n &lt; 10) {
                    return "0".concat(n.toString())
                  }
                  return n.toString()
                }

                function updateCountdowns() {
                  var countdowns = document.getElementsByClassName("time-left");
                  for (var i = 0; i &lt; countdowns.length; i++) {
                    var countdown = countdowns[i];
                    var endtime = countdown.getAttribute("data-time");
                    var timeleft = getTimeRemaining(endtime);
                    if (timeleft.days >= 2) {
                        countdown.innerHTML = timeleft.days.toString().concat(" days");
                    } else if (timeleft.total > 0) {
                        timestring = appendZero(timeleft.hours + 24 * timeleft.days).concat(":");
                        timestring = timestring.concat(appendZero(timeleft.minutes).concat(":"));
                        timestring = timestring.concat(appendZero(timeleft.seconds));
                        countdown.innerHTML = timestring;
                    } else {
                        countdown.innerHTML = "ended"
                    }
                  }
                }

                updateCountdowns()
                setInterval(updateCountdowns, 1000)
            </script>
        </ui:define>
        <ui:define name="content">
            <c:set var="a" value="#{auctionController.getAuction()}" scope="request"/>
            <div class="container product">
                <div class="row">
                    <div class="img-container col-md-7 col-sm-12">
                        <img src="#{a.product.imageURL}" alt="product image"/>
                    </div>
                    <div class="product-info col-md-5 col-sm-12">
                        <h2>
                            <h:outputText value="#{a.product.name}"/>
                        </h2>
                        <h3>
                            <h:outputText value="#{a.product.category}"/>
                        </h3>

                        <div class="seller">
                            <h:outputText value="#{a.seller.fullName}"/>
                        </div>
                        <div class="rating">
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star_half</i>
                            <i class="material-icons">star_border</i>
                            <i class="material-icons">star_border</i>
                        </div>

                        <div class="countdown">
                            <span class="time-left" data-time="#{a.endTime}">??</span><i
                                class="material-icons">schedule</i>
                        </div>

                        <div class="bid-container">
                            <!-- Bidding modal -->
                            <div class="modal fade" id="bidModal" tabindex="-1" role="dialog"
                                 aria-labelledby="bidModalTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="bidModalTitle">Make new
                                                bid</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h:form styleClass="basic-form text-right">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Amount</span>
                                                    </div>
                                                    <h:inputText
                                                            value="#{auctionController.bidAmount}"
                                                            a:type="text" styleClass="form-control"
                                                            a:placeholder="0.00"
                                                            a:aria-label="Amount"
                                                            a:aria-describedby="basic-addon1">
                                                        <f:validator
                                                                validatorId="currencyValidator"/>
                                                    </h:inputText>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">€</span>
                                                    </div>
                                                </div>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                    <span class="input-group-text"><i
                                                            class="material-icons">credit_card</i></span>
                                                    </div>
                                                    <h:selectOneMenu styleClass="form-control">

                                                    </h:selectOneMenu>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                    <h:commandButton styleClass="btn btn-primary"
                                                                     action="#{auctionController.makeBid}"
                                                                     value="Bid"/>
                                                </div>
                                            </h:form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End bidding modal-->
                        <div class="bid-header d-flex justify-content-between">
                            <h2>Bids</h2>
                            <button class="btn btn-primary" data-toggle="modal"
                                    data-target="#bidModal">New bid
                            </button>
                        </div>
                        <div class="bids">
                            <ui:repeat var="b" value="#{auctionController.getRecentBids(a.id)}"
                                       varStatus="status">
                                <div class="bid d-flex justify-content-between">
                                    <div class="time">
                                        <h:outputText
                                                value="#{auctionController.formatTime(b.time)}"/>
                                    </div>
                                    <c:choose>
                                        <c:when test="#{status.first}">
                                            <div class="amount highest">
                                                <h:outputText
                                                        value="#{auctionController.formatPrice(b.amount)}"/>
                                            </div>
                                        </c:when>
                                        <c:otherwise>
                                            <div class="amount">
                                                <h:outputText
                                                        value="#{auctionController.formatPrice(b.amount)}"/>
                                            </div>
                                        </c:otherwise>
                                    </c:choose>
                                </div>
                            </ui:repeat>
                        </div>
                    </div>
                </div>
                <div class="description">
                    <h:outputText value="#{a.product.description}"/>
                </div>

                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-specs-tab" data-toggle="tab"
                           href="#nav-specs" role="tab" aria-controls="nav-specs"
                           aria-selected="true">Specifications</a>
                        <a class="nav-item nav-link" id="nav-seller-tab" data-toggle="tab"
                           href="#nav-seller" role="tab" aria-controls="nav-seller"
                           aria-selected="false">Seller</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">

                    <!-- Specifications -->
                    <div class="tab-pane fade show active" id="nav-specs" role="tabpanel"
                         aria-labelledby="nav-specs-tab">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>Width</td>
                                <td>50 cm</td>
                            </tr>
                            <tr>
                                <td>Height</td>
                                <td>12 cm</td>
                            </tr>
                            <tr>
                                <td>Weight</td>
                                <td>4,89 kg</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Seller -->
                    <div class="tab-pane fade show" id="nav-seller" role="tabpanel"
                         aria-labelledby="nav-seller-tab">
                        <div class="row">
                            <div class="seller-container">
                                <div class="seller-info col-12">
                                    <div class="seller">Jon Wickerman</div>
                                    <div class="rating">
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star_half</i>
                                        <i class="material-icons">star_border</i>
                                        <i class="material-icons">star_border</i>
                                    </div>
                                    <div class="contact-info">
                                        <div class="field"><i class="material-icons">email</i>
                                            thewickman@example.com
                                        </div>
                                        <div class="field"><i class="material-icons">phone</i> +44&nbsp;07&nbsp;922&nbsp;039&nbsp;801
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ui:define>
    </ui:composition>
</h:body>
</html>
