<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
<h:body>
    <ui:composition template="common.xhtml">
        <ui:define name="content">
            <!-- Page content -->
            <div class="container login">
                <div class="row justify-content-md-center">
                    <h:form styleClass="basic-form">
                        <!-- Personal info -->
                        <div class="card-title">Create/modify product</div>
                        <hr/>
                        <div class="form-group">
                            <h:inputText value="#{publishController.productName}"
                                         styleClass="mb-3 form-control" a:placeholder="Title"
                                         required="true" a:required="true"/>
                            <h:selectOneMenu value="#{publishController.productCategory}"
                                             styleClass="mb-3 form-control">
                                <f:selectItem itemValue="Computers" itemLabel="Computers"/>
                                <f:selectItem itemValue="Furniture" itemLabel="Furniture"/>
                                <f:selectItem itemValue="Weapons" itemLabel="Weapons"/>
                            </h:selectOneMenu>
                            <h:inputTextarea value="#{publishController.productDescription}"
                                             styleClass="mb-3 form-control" rows="7"/>
                            <div class="mb-3 form-row">
                                <h:inputText styleClass="col-6 form-control"/>
                                <h:inputText styleClass="col-6 form-control"/>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Amount</span>
                                </div>
                                <h:inputText value="#{publishController.auctionAmount}"
                                             styleClass="form-control" a:placeholder="0.00"
                                             a:aria-label="Amount" aria-describedby="basic-addon1"
                                             style="text-align: right" required="true"
                                             a:required="true">
                                    <f:validator validatorId="currencyValidator"/>
                                </h:inputText>
                                <div class="input-group-append">
                                    <span class="input-group-text">€</span>
                                </div>
                            </div>
                            <h:inputText value="#{publishController.auctionEndTime}"
                                         styleClass="mb-3 form-control" a:type="date"
                                         a:placeholder="End date" required="true"
                                         a:required="true"/>
                            <h:inputText value="#{publishController.productImageUrl}"
                                         styleClass="mb-3 form-control" a:type="url"
                                         a:placeholder="https://i.imgur.com/BK7BfIk.gif"
                                         required="true" a:required="true"/>
                        </div>
                        <h:commandButton styleClass="btn btn-primary mr-3"
                                         action="#{publishController.save}"
                                         value="Save"/>
                        <h:commandButton styleClass="btn btn-primary"
                                         action="#{publishController.publish}"
                                         value="Publish"/>
                    </h:form>
                </div>
            </div>
        </ui:define>
    </ui:composition>
</h:body>
</html>
